# =============================================================================
# LARAVEL / BACKEND
# =============================================================================
/vendor/
/.env
/.env.backup
/.env.production
/composer.lock
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
/public/build
/.phpunit.result.cache
/bootstrap/cache/*

# =============================================================================
# ANGULAR / FRONTEND
# =============================================================================
# Dependencias y builds
/node_modules/
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/

# Logs y Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# E2E y Testing
/e2e/test-output/
/cypress/screenshots/
/cypress/videos/

# Configuración local de Angular CLI
/.angular-cli.json
/.ng/

# =============================================================================
# GENERAL / IDEs
# =============================================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
